.navigator {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 2em;
  box-sizing: border-box;
  a {
    font-size: 6em;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }
}
