.home__slider {
  width: 100vw;
  height: 100vh;
  bottom: 0%;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #181818;
  z-index: -20;

  .image__container {
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
    .gallery__container {
      width: 100vw;
      height: 100vh;
      display: flex;
      opacity: 0.5;
      .img__holder {
        width: 100vw;
        height: 100vh;
      }
    }
    #overlay__cursor {
      width: inherit;
      height: inherit;
      position: fixed;
      opacity: 0;
      top: 0;
      clip-path: circle(5em at center center);
      pointer-events: none;

      .overlay__effect {
        width: inherit;
        height: inherit;
        position: absolute;
        z-index: 100;
        top: 0;
        .pixelate {
          filter: url("#pixelate");
        }
      }
    }
    img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
  }
}
