@import "./components/variables.scss";
@import "./components/slider.scss";
@import "./components/navigator.scss";

@font-face {
  font-family: "MyWebFont";
  src: url("Gerstner Programm"); /* IE9 Compat Modes */
  src: url("Gerstner Programm Regular.otf") format("pentype");
}

body {
  color: $color-primary;
  font-size: 62.5%;
  font-family: "Gerstner Programm", sans-serif;
  background: $color-primary;
  scrollbar-width: thin;
}

.wrapper {
  margin: 0 auto;
  height: 100vh;
}

a:link,
a:visited {
  text-decoration: none;
  color: $color-tertiary;
  display: inline-block;
  transition: all 200ms ease-in;
}

a:hover {
  transform: skewX(20deg);
}
